<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="myAppNameSpace">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- app styles -->
	<style type="text/css">
		body, html{
			height: 100%; width:100%;
		}
		#mainUIView{
			height: 100%; width:100%;
		}

		#map {
			height: 100%; width:100%;
		}
			.awesome-marker{
				height:10px;
				width:10px;
			}
		#buttonSec{
			padding: 20px;
			position: fixed;
			bottom: 0px;
			width:100%;
		}
		#btnAddComment{
			width: 100%;
		}

	</style>

	<!-- jquery -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />

	<!-- load angular -->
	<script src="bower_components/angularjs/angular.min.js"></script>

	<!-- leaflet -->
	<link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
	<script src="bower_components/leaflet/dist/leaflet.js"></script>

	<!-- fonts & markers -->
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
	<script src="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>
	<link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css">

	<script>
		// create the module and name it myApp
		var myApp = angular.module('myAppNameSpace', [])

				.controller('MainCtrl', function($scope, $compile, $http) {

					//--Leaflet Setup-------
					var map = L.map('map'); // create the map object
					L.tileLayer('https://{s}.tiles.mapbox.com/v3/examples.map-20v6611k/{z}/{x}/{y}.png').addTo(map);//add some tiles
					map.setView([45.52,-122.68], 11);// manually set the view
					//TODO: limit bounds to project area



					//TODO: add a button that center's the map on the user ( ion-ios7-navigate-outline == default icon  )




					$scope.getUserLocation = function () {

						//TODO: change the icon to .ion-loading-c ==> while getting user location




						// HTML5 get user's location and center the map on the user
						map.locate({setView: true, maxZoom: 15});
						map.on('locationfound',function(e){
							//console.log(e);
							console.log("FOUND!! lat: %f, lng: %f, accuracy:%f",e.latitude, e.longitude, e.accuracy);

							//TODO: .ion-ios7-navigate-outline ==> to get current location



							// once we have gotten the user's location stop locating them (save battery)
							map.stopLocate()
						});
					};



					//--Map Markers----------
					var greenMarker = L.AwesomeMarkers.icon({
						icon: 'circle',
						markerColor: 'green'
					});

					var blueMarker = L.AwesomeMarkers.icon({
						icon: 'circle',
						markerColor: 'blue'
					});
					var blueMarkerAdded = L.AwesomeMarkers.icon({
						icon: 'plus',
						markerColor: 'blue'
					});
					var blackMarker = L.icon({
						iconUrl: 'assets/icons/marker_black2.png',
						iconSize: [30, 30],
						iconAnchor: [16, 37],
						popupAnchor: [0, -28]
					});




					//--GET all markers------------
					var geojsonLayer = {};
					var urlGet = "/api/newcomments/";
					$http.get(urlGet)
							.success(function(data,status,headers,config){

								// adding geojson data you have to use an onEachFeature
								function onEachFeature(feature, layer,latlng) {
									if (feature.properties) {
										layer.bindPopup(feature.properties.comment);
										layer.setIcon(blueMarker)
									}
								}

								//TODO: add marker cluster to the map https://github.com/Leaflet/Leaflet.markercluster/blob/master/example/geojson.html
								geojsonLayer = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
							})
							.error(function(data,status,headers,config){
								//console.log("...get data: %o",data);
								//console.log("...get status: %o",status);
							});




					//--POST a marker------------
					// geojson post object constructor
					var GeojsonPostObj = function(title, textComment, lnglat){
						this.type = "Feature";
						this.properties = {
							title: title,
							comment: textComment
						};
						this.geometry = {
							type:"Point",
							coordinates:lnglat
						};
					};

					// ngClick event to add a marker to the center of the map and bind some angular in the popup
					$scope.btnAddComment = function(){

						// create a dragable marker in the center of the map with a popup open
						var mapCenterCoors = map.getCenter();
						var markerNewComment = {};

						// bind some angular inside the marker's popup
						$scope.sendLocation = function(){

							// close the marker's popup when user hit the submit button
							markerNewComment.closePopup();

							// Post the lat/lng to the database
							var urlPost = "/api/newcomments/add";
							var postData = new GeojsonPostObj(popupScope.popupSubject, popupScope.popupCommentText, [markerNewComment._latlng.lng,markerNewComment._latlng.lat]);
							$http.post(urlPost,postData )
									.success(function(data,status,headers,config){
										if (status == 200){
											// change the popup content and change the icon so use knows they've added it
											markerNewComment.setIcon(blueMarkerAdded);
											markerNewComment.setPopupContent(popupScope.popupCommentText);
										} else {
											//TODO: send a error warning "the comment didn't post"
										}
									})
									.error(function(data,status,headers,config){
										console.log("...post status: %o",status);

										//TODO: send a error warning "the comment didn't post"
									});
						}
						var html = '<div class="container"><h4 style="text-align: center;">Add a Comment</h4><table style="width:100%"><tr><td style="text-align: right;">Subject:</td><td><input ng-model="popupSubject" type="text"/></td></tr><tr><td style="text-align: right;">Comment:</td><td><textarea ng-model="popupCommentText" type="text" style="margin: 0px; height: 59px; width: 135px; max-height: 100px; max-width: 135px;"/></td></tr></table><div class="btn btn-success" style="width: 100%; margin-top: 7px;" ng-click="sendLocation()">send location</div></div>';
						var linkFunction = $compile(angular.element(html));
						var popupScope = $scope.$new();
						markerNewComment = L.marker([mapCenterCoors.lat,mapCenterCoors.lng],{draggable:true,icon:greenMarker})
								.bindPopup(linkFunction(popupScope)[0], {minHeight : 300})
								.addTo(map)
								.openPopup();
					};//ngClick post




				});//controller
	</script>
</head>

<!-- define angular controller -->
<body ng-controller="MainCtrl">

	<div id="map"></div>

	<div id="buttonSec">
		<div class="btn btn-info" ng-click="getUserLocation()">get user location</div>
		<div id="btnAddComment" class="btn btn-info" ng-click="btnAddComment()">Add a Comment</div>
	</div>

</body>
</html>