<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="myAppNameSpace">
<head>
	<!-- app styles -->
	<style type="text/css">
		body, html{
			height: 100%; width:100%;
		}
		#mainUIView{
			height: 100%; width:100%;
		}

		#map {
			height: 100%; width:100%;
		}
			.awesome-marker{
				height:10px;
				width:10px;
			}
		#buttonSec{
			padding: 20px;
			position: fixed;
			bottom: 0px;
			width:100%;
		}
		#btnAddComment{
			width: 100%;
		}

	</style>

	<!-- jquery via CDN -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<!-- load bootstrap and fontawesome via CDN -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

	<!-- load angular via CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-resource.min.js"></script>

	<!-- leaflet via CDN -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

	<!-- fonts & markers -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
	<link rel="stylesheet" href="./bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
	<script src="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

	<script>
		// create the module and name it myApp
		var myApp = angular.module('myAppNameSpace', [])

				.controller('MainCtrl', function($scope, $compile, $http) {

					// Leaflet Setup
					var map = L.map('map'); // create the map object
					L.tileLayer('https://{s}.tiles.mapbox.com/v3/examples.map-20v6611k/{z}/{x}/{y}.png').addTo(map);//add some tiles
					map.setView([45.52,-122.68], 11);// manually set the view

					// HTML5 get user's location and center the map on the user
					//map.locate({setView: true, maxZoom: 15});
					map.on('locationfound',function(e){
						//console.log(e);
						console.log("FOUND!! lat: %f, lng: %f, accuracy:%f",e.latitude, e.longitude, e.accuracy);

						// once we have gotten the user's location stop locating them (save battery)
						map.stopLocate()
					});




//................................... map markers


					// Creates a red marker with the coffee icon
					var greenMarker = L.AwesomeMarkers.icon({
						icon: 'circle',
						markerColor: 'green'
					});

					var blueMarker = L.AwesomeMarkers.icon({
						icon: 'circle',
						markerColor: 'blue'
					});
					var blueMarkerAdded = L.AwesomeMarkers.icon({
						icon: 'plus',
						markerColor: 'blue'
					});
					var blackMarker = L.icon({
						iconUrl: 'assets/icons/marker_black2.png',
						iconSize: [30, 30],
						iconAnchor: [16, 37],
						popupAnchor: [0, -28]
					});


//...................................





					//--GET all markers------------
					var geojsonLayer = {};
					var urlGet = "/api/newcomments/";
					$http.get(urlGet)
							.success(function(data,status,headers,config){

								// adding geojson data you have to use an onEachFeature
								function onEachFeature(feature, layer,latlng) {
									if (feature.properties) {
										layer.bindPopup(feature.properties.comment);
										layer.setIcon(blueMarker)
									}
								}
								geojsonLayer = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
							})
							.error(function(data,status,headers,config){
								//console.log("...get data: %o",data);
								//console.log("...get status: %o",status);

							});




					//--POST a marker------------

					// geojson post object constructor
					var GeojsonPostObj = function(title, textComment, lnglat){
						this.type = "Feature";
						this.properties = {
							title: title,
							comment: textComment
						};
						this.geometry = {
							type:"Point",
							coordinates:lnglat
						};
					};

					// ngClick event to add a marker to the center of the map and bind some angular in the popup
					$scope.btnAddComment = function(){
						//TODO: close the popup when the user submits the comment

						// create a dragable marker in the center of the map with a popup open
						var mapCenterCoors = map.getCenter();
						var markerNewComment = {};

						// bind some angular inside the marker's popup
						$scope.sendLocation = function(){

							markerNewComment.closePopup();

							var postData = new GeojsonPostObj(popupScope.popupSubject, popupScope.popupCommentText, [markerNewComment._latlng.lng,markerNewComment._latlng.lat]);
							//console.log("data to post: %o",postData);

							// Post the lat/lng to the database
							var urlPost = "/api/newcomments/add";
							$http.post(urlPost,postData )
									.success(function(data,status,headers,config){
										console.log("...post status: %o",status);

										if (status == 200){
											markerNewComment.setIcon(blueMarkerAdded);
											markerNewComment.setPopupContent(popupScope.popupCommentText);

											console.log(".........STATUS:200 ......posted")
										} else {
											//TODO: remove the marker or send an error message
										}
									})
									.error(function(data,status,headers,config){
										//console.log("...post data: %o",data);
										console.log("...post status: %o",status);
										return status;
									});
						}
						var html = '<div class="container"><h4 style="text-align: center;">Add a Comment</h4><table style="width:100%"><tr><td style="text-align: right;">Subject:</td><td><input ng-model="popupSubject" type="text"/></td></tr><tr><td style="text-align: right;">Comment:</td><td><textarea ng-model="popupCommentText" type="text" style="margin: 0px; height: 59px; width: 135px; max-height: 100px; max-width: 135px;"/></td></tr></table><div class="btn btn-success" style="width: 100%; margin-top: 7px;" ng-click="sendLocation()">send location</div></div>';
						var linkFunction = $compile(angular.element(html));
						var popupScope = $scope.$new();
						markerNewComment = L.marker([mapCenterCoors.lat,mapCenterCoors.lng],{draggable:true,icon:greenMarker})
								.bindPopup(linkFunction(popupScope)[0], {minHeight : 300})
								.addTo(map)
								.openPopup();
					};//ngClick post

				});//controller
	</script>
</head>

<!-- define angular controller -->
<body ng-controller="MainCtrl">

	<div id="map"></div>

	<div id="buttonSec">
		<div id="btnAddComment" class="btn btn-info" ng-click="btnAddComment()">Add a Comment</div>
	</div>

</body>
</html>